* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
// body{
//   max-width: 1152px;
//   margin: auto;
// }
// ------------ココから-------------------

  $black: black;
  $white: white;

@mixin flex_box($justfy:center) {
  display: flex;
  justify-content: $justfy;
  align-items: center;
}
// @include flex_box(space-around);
 
