@import "_function.scss";
@import "_header.scss";
@import "_footer.scss";

/*----------------------*/
/*   section1はココから   */
/*----------------------*/

.section1{
  max-width: 1152px;
  margin: 0 auto;
}
.main_img_pc {
  text-align: center;
}
.main_box{
  position: relative;  
  .main_text_pc{
    position: absolute;
    bottom: -50px;
    right: 3px;
  }
}
.main_word {
  font-size: 1.4em;
  padding: 1.2rem 0;
}
.sp_main{
  display: none;
}
.text_sp{
  display: none;
}
/*----------------------*/
/*   section1はココで終わり   */
/*----------------------*/

/*----------------------*/
/*   section2はココから   */
/*----------------------*/
.section2 {
  max-width: 1152px;
  margin: 0 auto;
  .section1-h1 {
    font-size: 2em;
    padding: 3rem;
    text-transform: capitalize;
    text-align: center
  }
}
.section2-ul {
  @include flex_box(space-around);
  flex-wrap: wrap;
  margin-bottom: 8rem;
  .section2-li {
    max-width: 320px;
    height: 30rem;
    margin-bottom: 2rem;
    .section2-h2 {
      padding: 1.3rem 0 9rem .5rem;
    }
  }
  .time-p {
    padding-left: .5rem;
  }
  .section2-p {
    width: 100px;
    color: black;
    margin-left: 12rem;
    padding-right: 1.2rem;
    display: inline;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      right: 5%;
      bottom: -10px;
      display: inline-block;
      width: 30px;
      height: 2px;
      transform: translate(-50%);
      background-color: black;
    }
    
  }
}
.section2-p > .section2-a {
  color: black;
}
.section2-p:hover::before {
  width: 90%;
  transform: translate(-8%);
  
} 
.section2-li:hover {
  box-shadow:3px 3px 5px 5px gray;
  // border:1px solid #000;
}

/*----------------------*/
/*   section2はココで終わり  */
/*----------------------*/


/*----------------------*/
/*　レスポンシブはココから   */
/*----------------------*/

@media screen and (max-width:767px) {
  .pc_main{
    display: none;
  }
  .sp_main{
    display: initial;
  }
  .main_text_pc {
    top: 33px;
    left: 30px;
  }
  .text_pc{
    display: none;
  }
  .text_sp{
    display: initial;
  }
  .main_word {
    font-size: 1.5em;
    text-align: center;
    span {
      display: block;
    }
  }
  // ----------------section2はココから---------------
  .section2 {
    .section1-h1 {
      padding: 0 0 1.2rem;
    }
  }
  .section2-ul {
    width: 320px;
    display: block;
    margin: 0 auto;
    .section2-li {
      height: 25rem;
      .section2-h2 {
        padding-bottom: 6rem;
      }
    }
  }
}
  // ----------------section2はココで終わり ---------------















  
  



/*----------------------*/
/*　レスポンシブはココで終わり   */
/*----------------------*/

