
@import "_function.scss";
@import "_header.scss";
@import "_footer.scss";




/*----------------------*/
/*   section1はココから   */
/*----------------------*/
main{
  .main_box{
    @include flex_box();
    flex-direction: column;
    .main_view{
      position: relative;
      width: 83%;
      height: 480px;
      background-image: url(../img/visual_1_pc.png);
      background-size: cover;
      .logo{
        width: 22%;
        position:absolute;
        top:-16%;
        left: -5%;
      }
      .text{
        width: 45%;
        position:absolute;
        top:61%;
        left: 61%;
      }
    }
  }
 p{
    margin: 1% 4%;
  }

}


/*----------------------*/
/*   section1はココで終わり   */
/*----------------------*/

/*----------------------*/
/*   section2はココから   */
/*----------------------*/



/*----------------------*/
/*   section2はココで終わり  */
/*----------------------*/


/*----------------------*/
/*　レスポンシブはココから   */
/*----------------------*/

@media screen and (max-width:767px) {
  
}

/*----------------------*/
/*　レスポンシブはココで終わり   */
/*----------------------*/
