@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*----------------------*/
/*   headerはココから   */
/*----------------------*/
.header {
  max-width: 1152px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  position: relative;
}

.header .header_left {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.header .nav {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav li {
  padding: 3%;
  font-size: 14px;
}

/*----------------------*/
/*   headerはココで終わり   */
/*----------------------*/
/*----------------------*/
/*　レスポンシブはココから   */
/*----------------------*/
@media screen and (max-width: 767px) {
  .header_right {
    display: none;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

/*----------------------*/
/*　レスポンシブはココで終わり   */
/*----------------------*/
/*----------------------*/
/*   footerはココから   */
/*----------------------*/
/*----------------------*/
/*   footerはココで終わり   */
/*----------------------*/
/*----------------------*/
/*   section1はココから   */
/*----------------------*/
.section1 {
  max-width: 1152px;
  margin: 0 auto;
}

.section1 .main_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.section1 .main_box .main_text_pc {
  position: absolute;
  bottom: -25px;
  right: 3px;
  z-index: 20;
}

.sp_main {
  display: none;
}

.text_sp {
  display: none;
}

/*

main{
  .main_box{
    @include flex_box();
    flex-direction: column;
    position: relative;
    .logo{
      width: 20%;
      position:absolute;
      top:-18%;
      left: 3%;
      z-index: 2;
    }
    .main_view{
      position: relative;
      width: 83%;
      height: 480px;
      background-image: url(../img/visual_1_pc.png);
      background-size: cover;
      }
      .text{
        width: 45%;
        position:absolute;
        top:61%;
        left: 61%;
      }
    }
  }
 .main_word{
    margin: 1% 4%;
  }


*/
/*----------------------*/
/*   section1はココで終わり   */
/*----------------------*/
/*----------------------*/
/*   section2はココから   */
/*----------------------*/
/*----------------------*/
/*   section2はココで終わり  */
/*----------------------*/
/*----------------------*/
/*　レスポンシブはココから   */
/*----------------------*/
@media screen and (max-width: 767px) {
  .pc_main {
    display: none;
  }
  .sp_main {
    display: initial;
  }
  .text_pc {
    display: none;
  }
  .text_sp {
    display: initial;
  }
}

/*----------------------*/
/*　レスポンシブはココで終わり   */
/*----------------------*/
/*# sourceMappingURL=style.css.map */